body {
    margin: 0;
    padding: 0;
    background: #1C1C1C;
    font-family: "Inter", sans-serif;
    color: white;
    text-align: center;
}

.container {
    width: 550px;
    margin: 130px auto;
}

.conversion-section {
    background: #6943FF;
    display: flex;
    flex-direction: column;
}

.conversion-section h2 {
    font-size: 28px;

}

input {
    background: none;
    border: 2px solid #B295FF;
    border-radius: 5px;
    width: 100px;
    margin: 0 auto;
    font-size: 60px;
    font-weight: 800;
    color: white;
    text-align: center;
    padding: 10px;
}

#conversion-btn {
    width: 110px;
    margin: 30px auto;
    padding: 10px 8px;
    background: white;
    border: none;
    border-radius: 5px;
    color: #3D3D3D;
    font-weight: 500;
    font-size: 16px
    
}

.results-section {
    background: #1F2937;
    margin-top: 0;
    padding: 10px;
    
}

.metric-unit {
    background: #273549;
    width: 450px;
    margin: 25px auto;
    padding: 10px;
}

.metric-name {
    color: #CCC1FF;
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 0;

}

.metric-result {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 8px;
}